baseURL = "https://example.com/"
languageCode = "en-us"
title = "Hugo Paper"
theme = "hugo-paper"
enableInlineShortcodes = true
enableEmoji = true
hasCJKLanguage = true
summaryLength = 200
paginate = 10
defaultContentLanguage = "en"

# Outputs
[outputs]
  home = ["HTML", "JSON"]
  page = ["HTML"]
  section = ["HTML"]

# Markup
[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
      autoHeadingIDType = "github"
    [markup.goldmark.renderer]
      unsafe = true

# Taxonomies
[taxonomies]
  category = "categories"
  tag = "tags"

# Menu
[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Archives"
    url = "/archives/"
    weight = 2
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 3

# Output Formats
[outputFormats]
  [outputFormats.JSON]
    mediaType = "application/json"
    baseName = "index"

# Module
[module]
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "layouts"
    target = "layouts"
  [[module.mounts]]
    source = "content"
    target = "content"
  [[module.mounts]]
    source = "static"
    target = "static"
  [[module.mounts]]
    source = "data"
    target = "data"
  [[module.mounts]]
    source = "i18n"
    target = "i18n"
  [[module.mounts]]
    source = "archetypes"
    target = "archetypes"
